backend/__pycache__/app.cpython-313.pyc
*.pyc
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/data_level0.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/header.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/length.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/link_lists.bin
backend/chroma_langchain_db/chroma.sqlite3
