# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Virtual environment folders
venv/
env/
.env/

# IDE/editor-specific files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Log and temporary files
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# Docker-related files
.docker/

# Build-related files
build/
dist/
*.egg-info/

# Test-related files
.tox/
.coverage
.nox/
.hypothesis/

# Environment variables and secret keys
.env
.env.*

# Compiled assets
*.min.js
*.min.css
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/data_level0.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/header.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/length.bin
backend/chroma_langchain_db/82a6b4da-2537-44e4-9a8e-f9c46ff92ec5/link_lists.bin
backend/chroma_langchain_db/chroma.sqlite3
backend/.env
starry-tracker-449020-f2-084e3e50b41c.json
