fastapi==0.115.11
google-cloud-storage==3.1.0
google-generativeai==0.8.4
litellm==1.63.6
markdownify==1.1.0
python-dotenv==1.0.1
requests==2.32.3
uvicorn==0.34.0
PyMuPDF==1.25.3
python-multipart==0.0.20
torch==2.6.0
transformers==4.49.0
pinecone==6.0.1
nltk
langchain
tiktoken
langchain-community
docling_core
docling
mistralai==1.6.0
langgraph
serpapi
chromadb==0.6.3
serpapi==0.1.5
google-search-results
langchain_pinecone
pinecone-client>=2.4
sentence-transformers
